@model Ogrenci

<form asp-controller="Ogrenci" asp-action="OgrKaydet">
    <div>
        <label asp-for="OgrAd" class="form-label"></label>
        <input asp-for="OgrAd" class="form-control"/>
        <span asp-validation-for="OgrAd" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="OgrSoyad" class="form-label"></label>
        <input asp-for="OgrSoyad" class="form-control"/>
        <span asp-validation-for="OgrSoyad" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="OgrNo" class="form-label"></label>
        <input asp-for="OgrNo" class="form-control"/>
        <span asp-validation-for="OgrNo" class="alert-danger"></span>
    </div>
    <div>
        <label asp-for="OgrYas" class="form-label"></label>
        <input asp-for="OgrYas" class="form-control"/>
        <span asp-validation-for="OgrYas" class="alert-danger"></span>
    </div>
    <div>
        <input type= "submit" value="Kaydet" class="btn btn-danger"/>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
