@model Ogrenci

@* @Model.ogrNo *@

<table>
    <tr>
        <td>Ogrenci Adi </td>
        <td> : </td>
        <td>@Model.ogrAdi</td>
    </tr>
    <tr>
        <td>Ogrenci Soyadi</td>
        <td> : </td>
        <td>@Model.ogrSoyad</td>
    </tr>
    <tr>
        <td>Ogrenci No</td>
        <td> : </td>
        <td>@Model.ogrNo</td>
    </tr>
</table>